* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
}
h1{
  text-align: center;
  margin-bottom: 20px;
}
.app {
  width: 100%;
}

form{
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.item {
  width: 100%;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  border-radius: 10px;
  border: 2px solid #ff0000;
  padding: 20px 24px;
}

.top-sides {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

button {
  border-radius: 12px;
  padding: 5px;
  background-color: #ff0000;
  border: 0;
}

button:hover {
  scale: 1.05;
  background-color: blue;
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
  color: white;
}

.inp {
  width: 200px;
  height: 30px;
  border-radius: 12px;
  border: 0;
  background: rgb(131,58,180);
  background: linear-gradient(54deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
}

.btn {
  border-radius: 12px;
  height: 30px;
  width: 70px;
  border: 0;
  background: rgb(131,58,180);
  background: linear-gradient(54deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
}

button img {
  width: 18px;
}

.buttons button{
  width: 30px;
  height: 30px;
}
.buttons {

  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}